/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-bottom: 5px; 
  margin-top: 2px; 
}

/* Track */
::-webkit-scrollbar-track {
  background:#f5f2fc;
  box-shadow: inset 0 0 1px grey;
}

/* Track piece*/
::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 2px; 
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(91, 91, 236, 0.87);
  border-radius: 10px;
}
.card{
  padding: 15px;
}
.upload-img{
  background: #f5f2fc;
  border: 1px dashed #979797;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
}
.form-control{
  width: 100%;
}
.card-body{
  padding: 0px;
}
.row{
  margin-right: 0px !important;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(91, 91, 236, 0.87);
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f5f2fc;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px !important; /* Same as the width of the sidenav */

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.title{
  color: #f5f2fc;
  font-size: 25px;
  width: 100%;
  border-bottom: 1px solid #f5f2fc;
}
.new{
left:0px;
right: 0px;
  position: fixed;
  bottom: 20px;
  
}
.new .btn{
  width: 50px;
  height: 50px;
}
h2{
  font-weight: 400;
  border-bottom: 1px solid #e1daf3;
}
.cat{
  color: #f5f2fc;
  font-size: 20px !important;

}
.category{
  position: relative;
  margin-bottom: 5px;
 
}
.icon i{
  color: #f5f2fc;
}
.icon{
  background: none;
  position: absolute;
  right: 0px;
}
.icon-1 i{
  color: #f5f2fc;
}
.icon-1{
  background: none;
  position: absolute;
  right: 28px;
}
.cate{
  width:200px;
}
.card{
  width: 33%;
  height: 600px;
  margin-bottom: 20px;
  margin-top: 20px
}
.skelenton{
  height: 300px !important;
  background-color: #f5f2fc;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.5);
}
.actual-file{

  padding: 5px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.card-body{
  position: relative;
}
.buttons{
  position: absolute;
bottom: 0px;
}
.item-name{
  font-size: 24px;
  font-weight: 600;
}
.description{
  font-size: 16px
}

@media screen and (max-width: 992px){
  .cate{
    width: 150px
  }
  .card{
    width: 50%;
  }
  .sidenav{
    width: 200px;
  }
  .main{
    margin-left: 200px !important;
  }
}
@media screen and (max-width: 768px){
  .card{
    width: 100%;
  }
}
@media screen and (max-width: 411px){
  .sidenav{
    width: 150px;
  }
  .main{
    margin-left: 150px !important;
  }
  .cate{
    width: 100px;
  }
}
.diff{
  width: auto !important;
  height: 550px !important;
}